@{
	ViewBag.Title="自訂";
}

<html>
	<head>
		<meta name="viewport" content="width=device-width"/>
		<title>@ViewBag.Title</title>

	</head>
	<body>
		<div>
			<h2>自訂的  對 版面</h2>   <hr/>
			@RenderBody()  @*index2的內容放在這裡*@
			@*"""""""""""""""""""""""*@
			@*子夜面的內容會在這裡*@
		@*"""""""""""""""""""""""*@
		</div>
	</body>
</html>