
@{
    ViewData["Title"] = "Index8";
    Layout = "~/Views/Shared/Layoutpage2.cshtml";
}

<h1>Index8</h1>

<p>頁面的內容在這裡</p>

@section Header{
    <font color="blue">這裡是header階段</font>
    <nav>
        <ul>
            <li><a href="">首頁(HomePage)</a></li>
            <li><a href="">聯絡方式(contact me)</a></li>
            <li><a href="">關於我(about me)</a></li>
        </ul>
    </nav>
    <hr/><br/>
}
@section Footer{
<br/><br/>
    <hr/>
    <font color="green">這裡是footer階段</font>
    <h3 align="center">ASP.NET Core[MVC]學習網站</h3>
    <hr/>

    
}